### 1) Conectar db

In [1]:
import pyodbc
server = 'tcp:banco.tce.pi.gov.br' 
database = 'Sagres2019_RPT' 
cnxn = pyodbc.connect('Trusted_Connection=yes;DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database)
cursor = cnxn.cursor()

### 2) Executar consulta db

In [2]:
cursor = cnxn.cursor()
cursor.execute("""SELECT
   Compras.licitacoesweb.LICITACAO.ID as  ID_LICITACAO , Compras.licitacoesweb.LICITANTE.CNPJ as LICITANTE_CNPJ, Compras.licitacoesweb.LICITANTE.NOME as LICITANTE_NOME , Compras.licitacoesweb.LICITACAO.DATA_ABERTURA AS DATA_ABERTURA, Compras.licitacoesweb.LICITACAO.DATA_DIVULGACAO AS DATA_DIVUGACAO, Compras.licitacoesweb.LICITACAO.DATA_FINALIZACAO AS DATA_FINALIZACAO, Compras.licitacoesweb.LICITACAO.ID_UNIDADE_GESTORA AS UNIDADE_GESTORA ,IIF( ISNULL(Compras.licitacoesweb.ITEM.NUM_ITEM,'L')!='L',1,0) AS VENCEDOR_FLAG, Compras.licitacoesweb.ITEM.NUM_ITEM AS NUM_ITEM, Compras.licitacoesweb.ITEM.VALOR_UNITARIO AS VALOR_UNITARIO_ITEM,Compras.licitacoesweb.ITEM.QUANTIDADE AS QUANTIDADE_ITEM ,Compras.licitacoesweb.ITEM.VALOR_PREVISTO AS VALOR_PREVISTO_ITEM  ,Compras.licitacoesweb.LICITACAO.VALOR_TOTAL_HOMOLOGADO AS  VALOR_TOTAL_HOMOLOGADO, Compras.licitacoesweb.LICITACAO.VALOR_TOTAL_PREVISTO AS VALOR_TOTAL_PREVISTO
FROM
    Compras.licitacoesweb.LICITACAO
    FULL join Compras.licitacoesweb.PARTICIPACAO ON Compras.licitacoesweb.LICITACAO.ID = Compras.licitacoesweb.PARTICIPACAO.ID_LICITACAO
    FULL join Compras.licitacoesweb.LICITANTE ON Compras.licitacoesweb.PARTICIPACAO.ID_LICITANTE = Compras.licitacoesweb.LICITANTE.ID 
    FULL join Compras.licitacoesweb.LOTE ON Compras.licitacoesweb.LOTE.ID_PARTICIPACAO = Compras.licitacoesweb.PARTICIPACAO.ID
    AND Compras.licitacoesweb.LOTE.ID_LICITACAO = Compras.licitacoesweb.LICITACAO.ID 
    FULL join Compras.licitacoesweb.ITEM ON Compras.licitacoesweb.ITEM.ID_LOTE = Compras.licitacoesweb.LOTE.ID
    FULL join Compras.licitacoesweb.TIPO_STATUS_LICITACAO ON Compras.licitacoesweb.TIPO_STATUS_LICITACAO.ID = Compras.licitacoesweb.LICITACAO.ID_STATUS_LICITACAO 
    FULL join Compras.licitacoesweb.TIPO_OBJETO on Compras.licitacoesweb.TIPO_OBJETO.ID = Compras.licitacoesweb.LICITACAO.ID_TIPO_OBJETO 
WHERE
    Compras.licitacoesweb.LICITACAO.DATA_ABERTURA BETWEEN '01/01/2019' AND '05/05/2020'
    /*
    and Compras.licitacoesweb.LICITACAO.DESCRICAO_OBJETO LIKE '%paralele%'
    */
    and Compras.licitacoesweb.LICITACAO.ID_STATUS_LICITACAO=3
    and Compras.licitacoesweb.TIPO_OBJETO.ID =1
 ORDER BY 
 ID_LICITACAO""") ;

### 3) Salvar Tabela e conv Panda

In [3]:
import pandas as pd
import numpy as ny
columns = [col[0] for col in cursor.description]
rows = [dict(zip(columns, row)) for row in cursor.fetchall()]

In [4]:
licitacoes= pd.DataFrame(rows)

In [5]:
licitacoes.head(5)

,ID_LICITACAO,LICITANTE_CNPJ,LICITANTE_NOME,DATA_ABERTURA,DATA_DIVUGACAO,DATA_FINALIZACAO,UNIDADE_GESTORA,VENCEDOR_FLAG,NUM_ITEM,VALOR_UNITARIO_ITEM,QUANTIDADE_ITEM,VALOR_PREVISTO_ITEM,VALOR_TOTAL_HOMOLOGADO,VALOR_TOTAL_PREVISTO
0,192813,02725914000145,Cerrado Engenharia Incorporadora Eirelli,2019-02-13 09:00:00,NaT,2019-05-02 14:18:15.422,1530,1,pg,243839.86,1.00,None,243839.86,244668.74
1,205722,04603664000104,V. M. PESSOA MONTEIRO-ME,2019-01-08 09:00:00,NaT,2019-08-19 12:12:38.690,149,1,pg,211598.50,1.00,None,211598.50,302118.82
2,205722,04521201000195,Construtora F.M Ltda. EPP,2019-01-08 09:00:00,NaT,2019-08-19 12:12:38.690,149,0,None,None,None,None,211598.50,302118.82
3,205722,06224118000180,Construtora Padrão Ltda. EPP,2019-01-08 09:00:00,NaT,2019-08-19 12:12:38.690,149,0,None,None,None,None,211598.50,302118.82
4,205722,29750013000160,GT CONSTRUTORA-E PEREIRA EIRELI EPP,2019-01-08 09:00:00,NaT,2019-08-19 12:12:38.690,149,0,None,None,None,None,211598.50,302118.82

### 4) Analise-vencedores x perdedores

In [6]:
tabela=licitacoes[['UNIDADE_GESTORA','LICITANTE_CNPJ','VENCEDOR_FLAG','ID_LICITACAO','VALOR_UNITARIO_ITEM']]

In [7]:
k=tabela.groupby(['LICITANTE_CNPJ']).agg({'ID_LICITACAO': 'count','VENCEDOR_FLAG': 'sum','VALOR_UNITARIO_ITEM': 'sum'})

In [8]:
k.sort_values(by=['ID_LICITACAO'],ascending=False)

                ID_LICITACAO  VENCEDOR_FLAG VALOR_UNITARIO_ITEM
LICITANTE_CNPJ
04603664000104           115             41         11569042.02
06224118000180           110             31         19082571.43
12187423000141            97              3          4503088.11
04521201000195            75              2          1808357.12
27055754000103            66              4          1348014.60
...                      ...            ...                 ...
16099194000164             1              0                   0
15689051000140             1              1           216667.66
15563861000155             1              0                   0
15395113000100             1              0                   0
97545847000193             1              0                   0

[698 rows x 3 columns]

### 4.1) Analise- Perdedores (filtro)

In [9]:
filter = k["VENCEDOR_FLAG"]<10
k=k.where(filter)

In [10]:
k.sort_values(by=['ID_LICITACAO'],ascending=False)

                ID_LICITACAO  VENCEDOR_FLAG VALOR_UNITARIO_ITEM
LICITANTE_CNPJ
12187423000141          97.0            3.0          4503088.11
04521201000195          75.0            2.0          1808357.12
27055754000103          66.0            4.0          1348014.60
02412944000100          53.0            1.0           147304.05
12190146000126          52.0            7.0          1377025.28
...                      ...            ...                 ...
28341992000130           NaN            NaN                 NaN
28395450000140           NaN            NaN                 NaN
28395623000120           NaN            NaN                 NaN
29020209000107           NaN            NaN                 NaN
29654913000103           NaN            NaN                 NaN

[698 rows x 3 columns]

### 4.1) Analise- Vencedores (filtro)

In [11]:
k=tabela.groupby(['LICITANTE_CNPJ']).agg({'ID_LICITACAO': 'count','VENCEDOR_FLAG': 'sum','VALOR_UNITARIO_ITEM': 'sum'})

In [12]:
filter1 = k["VENCEDOR_FLAG"]==k["ID_LICITACAO"]
filter2 = k["VENCEDOR_FLAG"]+10>=k["ID_LICITACAO"]

k=k.where(filter1 | filter2)

In [13]:
k.sort_values(by=['ID_LICITACAO'],ascending=False)

                ID_LICITACAO  VENCEDOR_FLAG VALOR_UNITARIO_ITEM
LICITANTE_CNPJ
02733213000158          61.0           60.0           715574.88
29654913000103          61.0           53.0           606587.42
12070635000144          41.0           37.0           219000.26
21071556000149          37.0           32.0          3433845.79
22555169000140          37.0           29.0           452082.64
...                      ...            ...                 ...
34966820000154           NaN            NaN                 NaN
35139286000175           NaN            NaN                 NaN
41506072000192           NaN            NaN                 NaN
63336572000166           NaN            NaN                 NaN
63509194000175           NaN            NaN                 NaN

[698 rows x 3 columns]

### 5) Analise-Combinações

In [150]:
from itertools import combinations
from collections import Counter

In [186]:
k=tabela.groupby(['UNIDADE_GESTORA','ID_LICITACAO']).agg({'LICITANTE_CNPJ':pd.Series.nunique})

In [187]:
l=tabela.groupby(['UNIDADE_GESTORA','ID_LICITACAO']).agg({'LICITANTE_CNPJ':'unique'})

In [188]:
tb=l.merge(k,right_on=['ID_LICITACAO','UNIDADE_GESTORA'], left_on=['ID_LICITACAO','UNIDADE_GESTORA'])

In [189]:
tb.rename(columns={'LICITANTE_CNPJ_y':'N_LICITANTES'}, inplace=True)

In [191]:
tb

,,LICITANTE_CNPJ_x,N_LICITANTES
ID_LICITACAO,UNIDADE_GESTORA,,
276751,1,"[07118909000198, 07239237000179, 0030033900010...",11
206099,3,[29750013000160],1
206788,3,[19783564000176],1
207219,3,[13466507000187],1
231954,3,[07467238000170],1
...,...,...,...
308878,2137,"[17323084000105, 11417820000108]",2
308885,2137,[17323084000105],1
319691,2137,"[24667970000103, 11417820000108]",2
341799,2137,[11417820000108],1
341857,2137,"[11417820000108, 28714090000100, 09089067000119]",3

In [34]:
products_list =  k.values.tolist()

count= Counter()

In [35]:
for licitacao in products_list :
    duplas =combinations(licitacao[0],2)
    count.update(Counter(duplas))

In [36]:
count=count.most_common()

In [37]:
count=dict(count)

In [38]:
for key in count.keys():
    if(count[key]>3):
        print("Dupla {0} apareceu {1} vezes".format(key,count[key]))

Dupla ('04521201000195', '06224118000180') apareceu 28 vezes
Dupla ('27055754000103', '04521201000195') apareceu 26 vezes
Dupla ('27390755000104', '12187423000141') apareceu 26 vezes
Dupla ('12187423000141', '04521201000195') apareceu 26 vezes
Dupla ('27055754000103', '06224118000180') apareceu 25 vezes
Dupla ('04521201000195', '12187423000141') apareceu 24 vezes
Dupla ('12187423000141', '02412944000100') apareceu 24 vezes
Dupla ('12187423000141', '07467238000170') apareceu 22 vezes
Dupla ('06224118000180', '12187423000141') apareceu 21 vezes
Dupla ('27055754000103', '12187423000141') apareceu 21 vezes
Dupla ('19783564000176', '04521201000195') apareceu 21 vezes
Dupla ('02412944000100', '12187423000141') apareceu 21 vezes
Dupla ('12187423000141', '27055754000103') apareceu 20 vezes
Dupla ('12187423000141', '06224118000180') apareceu 20 vezes
Dupla ('04521201000195', '27055754000103') apareceu 20 vezes
Dupla ('12190146000126', '12187423000141') apareceu 20 vezes
Dupla ('06224118000180', '27055754000103') apareceu 19 vezes
Dupla ('03936360000198', '12187423000141') apareceu 19 vezes
Dupla ('27055754000103', '19783564000176') apareceu 18 vezes
Dupla ('12187423000141', '02960929000198') apareceu 18 vezes
Dupla ('63509194000175', '12187423000141') apareceu 18 vezes
Dupla ('03936360000198', '04521201000195') apareceu 18 vezes
Dupla ('02412944000100', '04521201000195') apareceu 18 vezes
Dupla ('27055754000103', '63509194000175') apareceu 17 vezes
Dupla ('07607937000179', '06224118000180') apareceu 17 vezes
Dupla ('02960929000198', '12187423000141') apareceu 17 vezes
Dupla ('06224118000180', '04521201000195') apareceu 17 vezes
Dupla ('04521201000195', '02412944000100') apareceu 17 vezes
Dupla ('02960929000198', '02412944000100') apareceu 17 vezes
Dupla ('27055754000103', '02960929000198') apareceu 16 vezes
Dupla ('02960929000198', '04521201000195') apareceu 16 vezes
Dupla ('07467238000170', '12187423000141') apareceu 16 vezes
Dupla ('02412944000100', '06224118000180') apareceu 16 vezes
Dupla ('04521201000195', '02960929000198') apareceu 15 vezes
Dupla ('07607937000179', '04521201000195') apareceu 15 vezes
Dupla ('12187423000141', '25078209000107') apareceu 15 vezes
Dupla ('27055754000103', '02412944000100') apareceu 15 vezes
Dupla ('19783564000176', '06224118000180') apareceu 15 vezes
Dupla ('27390755000104', '07467238000170') apareceu 15 vezes
Dupla ('07293068000155', '12187423000141') apareceu 15 vezes
Dupla ('12187423000141', '12190146000126') apareceu 14 vezes
Dupla ('12187423000141', '63509194000175') apareceu 14 vezes
Dupla ('06224118000180', '02960929000198') apareceu 14 vezes
Dupla ('06224118000180', '63509194000175') apareceu 14 vezes
Dupla ('41506072000192', '06224118000180') apareceu 14 vezes
Dupla ('25078209000107', '02412944000100') apareceu 13 vezes
Dupla ('27390755000104', '63509194000175') apareceu 13 vezes
Dupla ('27390755000104', '02960929000198') apareceu 13 vezes
Dupla ('12187423000141', '33132484000181') apareceu 13 vezes
Dupla ('06224118000180', '19783564000176') apareceu 13 vezes
Dupla ('19783564000176', '12187423000141') apareceu 13 vezes
Dupla ('02412944000100', '27055754000103') apareceu 13 vezes
Dupla ('03936360000198', '02412944000100') apareceu 13 vezes
Dupla ('04521201000195', '19783564000176') apareceu 13 vezes
Dupla ('07467238000170', '63509194000175') apareceu 12 vezes
Dupla ('12187423000141', '19783564000176') apareceu 12 vezes
Dupla ('19329492000191', '12187423000141') apareceu 12 vezes
Dupla ('07467238000170', '02412944000100') apareceu 12 vezes
Dupla ('41506072000192', '04521201000195') apareceu 12 vezes
Dupla ('63509194000175', '07467238000170') apareceu 12 vezes
Dupla ('19783564000176', '27055754000103') apareceu 12 vezes
Dupla ('12187423000141', '03936360000198') apareceu 12 vezes
Dupla ('41506072000192', '27055754000103') apareceu 12 vezes
Dupla ('25078209000107', '12187423000141') apareceu 12 vezes
Dupla ('22975820000131', '21725552000137') apareceu 12 vezes
Dupla ('17690855000194', '21725552000137') apareceu 12 vezes
Dupla ('12190146000126', '02960929000198') apareceu 11 vezes
Dupla ('09168400000185', '07467238000170') apareceu 11 vezes
Dupla ('12187423000141', '08106583000141') apareceu 11 vezes
Dupla ('02960929000198', '27055754000103') apareceu 11 vezes
Dupla ('07137727000164', '63509194000175') apareceu 11 vezes
Dupla ('06224118000180', '03936360000198') apareceu 11 vezes
Dupla ('19783564000176', '02960929000198') apareceu 11 vezes
Dupla ('12190146000126', '02412944000100') apareceu 11 vezes
Dupla ('07607937000179', '19783564000176') apareceu 11 vezes
Dupla ('02960929000198', '06224118000180') apareceu 11 vezes
Dupla ('02412944000100', '07293068000155') apareceu 11 vezes
Dupla ('04521201000195', '12190146000126') apareceu 10 vezes
Dupla ('07467238000170', '27390755000104') apareceu 10 vezes
Dupla ('63509194000175', '27390755000104') apareceu 10 vezes
Dupla ('63509194000175', '06224118000180') apareceu 10 vezes
Dupla ('27055754000103', '07607937000179') apareceu 10 vezes
Dupla ('00255269000119', '04521201000195') apareceu 10 vezes
Dupla ('07137727000164', '12187423000141') apareceu 10 vezes
Dupla ('12190146000126', '07467238000170') apareceu 10 vezes
Dupla ('07137727000164', '09168400000185') apareceu 10 vezes
Dupla ('04521201000195', '63509194000175') apareceu 10 vezes
Dupla ('06224118000180', '07779294000140') apareceu 10 vezes
Dupla ('27055754000103', '03936360000198') apareceu 10 vezes
Dupla ('06224118000180', '02412944000100') apareceu 10 vezes
Dupla ('02412944000100', '02960929000198') apareceu 10 vezes
Dupla ('25276511000161', '06224118000180') apareceu 10 vezes
Dupla ('04521201000195', '07607937000179') apareceu 10 vezes
Dupla ('04521201000195', '25078209000107') apareceu 10 vezes
Dupla ('03936360000198', '02960929000198') apareceu 10 vezes
Dupla ('04521201000195', '03936360000198') apareceu 10 vezes
Dupla ('04521201000195', '41506072000192') apareceu 10 vezes
Dupla ('41506072000192', '02412944000100') apareceu 10 vezes
Dupla ('19783564000176', '41506072000192') apareceu 10 vezes
Dupla ('07607937000179', '41506072000192') apareceu 10 vezes
Dupla ('07607937000179', '27055754000103') apareceu 10 vezes
Dupla ('22975820000131', '17690855000194') apareceu 10 vezes
Dupla ('21725552000137', '17690855000194') apareceu 10 vezes
Dupla ('07293068000155', '04521201000195') apareceu 10 vezes
Dupla ('12187423000141', '07293068000155') apareceu 10 vezes
Dupla ('03936360000198', '06224118000180') apareceu 9 vezes
Dupla ('25078209000107', '06224118000180') apareceu 9 vezes
Dupla ('27390755000104', '09168400000185') apareceu 9 vezes
Dupla ('09168400000185', '63509194000175') apareceu 9 vezes
Dupla ('12187423000141', '09168400000185') apareceu 9 vezes
Dupla ('63509194000175', '01676548000119') apareceu 9 vezes
Dupla ('27055754000103', '27390755000104') apareceu 9 vezes
Dupla ('12187423000141', '00300339000103') apareceu 9 vezes
Dupla ('27390755000104', '06224118000180') apareceu 9 vezes
Dupla ('63509194000175', '04521201000195') apareceu 9 vezes
Dupla ('12187423000141', '19988502000109') apareceu 9 vezes
Dupla ('63509194000175', '02960929000198') apareceu 9 vezes
Dupla ('06224118000180', '07467238000170') apareceu 9 vezes
Dupla ('12187423000141', '22829583000109') apareceu 9 vezes
Dupla ('03936360000198', '12190146000126') apareceu 9 vezes
Dupla ('19783564000176', '02412944000100') apareceu 9 vezes
Dupla ('12190146000126', '04521201000195') apareceu 9 vezes
Dupla ('02412944000100', '19783564000176') apareceu 9 vezes
Dupla ('12187423000141', '41506072000192') apareceu 9 vezes
Dupla ('27055754000103', '41506072000192') apareceu 9 vezes
Dupla ('41506072000192', '19783564000176') apareceu 9 vezes
Dupla ('03936360000198', '07293068000155') apareceu 9 vezes
Dupla ('17252075000162', '28395623000120') apareceu 9 vezes
Dupla ('23670372000120', '20994835000111') apareceu 9 vezes
Dupla ('17690855000194', '26542791000175') apareceu 9 vezes
Dupla ('06226439000113', '17323084000105') apareceu 9 vezes
Dupla ('06224118000180', '17323084000105') apareceu 9 vezes
Dupla ('07532783000101', '17323084000105') apareceu 9 vezes
Dupla ('00255269000119', '02412944000100') apareceu 9 vezes
Dupla ('00255269000119', '12187423000141') apareceu 9 vezes
Dupla ('35139286000175', '04521201000195') apareceu 9 vezes
Dupla ('12190146000126', '07293068000155') apareceu 9 vezes
Dupla ('03936360000198', '25078209000107') apareceu 8 vezes
Dupla ('27055754000103', '19988502000109') apareceu 8 vezes
Dupla ('04521201000195', '22829583000109') apareceu 8 vezes
Dupla ('04521201000195', '19988502000109') apareceu 8 vezes
Dupla ('27390755000104', '12190146000126') apareceu 8 vezes
Dupla ('00300339000103', '12187423000141') apareceu 8 vezes
Dupla ('01676548000119', '12187423000141') apareceu 8 vezes
Dupla ('24608247000153', '12187423000141') apareceu 8 vezes
Dupla ('12187423000141', '27390755000104') apareceu 8 vezes
Dupla ('07467238000170', '07137727000164') apareceu 8 vezes
Dupla ('07467238000170', '27055754000103') apareceu 8 vezes
Dupla ('06224118000180', '27390755000104') apareceu 8 vezes
Dupla ('06224118000180', '25078209000107') apareceu 8 vezes
Dupla ('12190146000126', '25078209000107') apareceu 8 vezes
Dupla ('06224118000180', '33132484000181') apareceu 8 vezes
Dupla ('27390755000104', '27055754000103') apareceu 8 vezes
Dupla ('07137727000164', '07467238000170') apareceu 8 vezes
Dupla ('07467238000170', '02960929000198') apareceu 8 vezes
Dupla ('63336572000166', '02412944000100') apareceu 8 vezes
Dupla ('25276511000161', '04521201000195') apareceu 8 vezes
Dupla ('07913196000154', '12187423000141') apareceu 8 vezes
Dupla ('34966820000154', '06224118000180') apareceu 8 vezes
Dupla ('04521201000195', '07293068000155') apareceu 8 vezes
Dupla ('63509194000175', '02412944000100') apareceu 8 vezes
Dupla ('22150251000195', '12187423000141') apareceu 8 vezes
Dupla ('07467238000170', '03936360000198') apareceu 8 vezes
Dupla ('25078209000107', '04521201000195') apareceu 8 vezes
Dupla ('02960929000198', '07467238000170') apareceu 8 vezes
Dupla ('04521201000195', '08106583000141') apareceu 8 vezes
Dupla ('12187423000141', '00625176000139') apareceu 8 vezes
Dupla ('41506072000192', '00300339000103') apareceu 8 vezes
Dupla ('63509194000175', '09168400000185') apareceu 8 vezes
Dupla ('00394772000155', '06224118000180') apareceu 8 vezes
Dupla ('27390755000104', '31561213000116') apareceu 8 vezes
Dupla ('07137727000164', '31561213000116') apareceu 8 vezes
Dupla ('63509194000175', '31561213000116') apareceu 8 vezes
Dupla ('12187423000141', '31561213000116') apareceu 8 vezes
Dupla ('02412944000100', '03936360000198') apareceu 8 vezes
Dupla ('02412944000100', '00300339000103') apareceu 8 vezes
Dupla ('28101445000187', '28395623000120') apareceu 8 vezes
Dupla ('11025621000146', '29020209000107') apareceu 8 vezes
Dupla ('21725552000137', '22975820000131') apareceu 8 vezes
Dupla ('27519301000182', '20994835000111') apareceu 8 vezes
Dupla ('10453927000130', '17690855000194') apareceu 8 vezes
Dupla ('22975820000131', '26542791000175') apareceu 8 vezes
Dupla ('17323084000105', '25233820000154') apareceu 8 vezes
Dupla ('07779294000140', '17323084000105') apareceu 8 vezes
Dupla ('07293068000155', '02412944000100') apareceu 8 vezes
Dupla ('07293068000155', '02960929000198') apareceu 8 vezes
Dupla ('25078209000107', '07293068000155') apareceu 8 vezes
Dupla ('27055754000103', '23522790000170') apareceu 7 vezes
Dupla ('09168400000185', '12187423000141') apareceu 7 vezes
Dupla ('00300339000103', '63509194000175') apareceu 7 vezes
Dupla ('12187423000141', '07137727000164') apareceu 7 vezes
Dupla ('27390755000104', '07137727000164') apareceu 7 vezes
Dupla ('63336572000166', '27055754000103') apareceu 7 vezes
Dupla ('63509194000175', '27055754000103') apareceu 7 vezes
Dupla ('01676548000119', '27390755000104') apareceu 7 vezes
Dupla ('07137727000164', '27390755000104') apareceu 7 vezes
Dupla ('22239797000117', '06224118000180') apareceu 7 vezes
Dupla ('27055754000103', '00300339000103') apareceu 7 vezes
Dupla ('18882626000134', '06224118000180') apareceu 7 vezes
Dupla ('19988502000109', '04521201000195') apareceu 7 vezes
Dupla ('00255269000119', '27055754000103') apareceu 7 vezes
Dupla ('27390755000104', '25078209000107') apareceu 7 vezes
Dupla ('06224118000180', '29750013000160') apareceu 7 vezes
Dupla ('04521201000195', '07467238000170') apareceu 7 vezes
Dupla ('06224118000180', '22150251000195') apareceu 7 vezes
Dupla ('00394772000155', '04521201000195') apareceu 7 vezes
Dupla ('07913196000154', '25078209000107') apareceu 7 vezes
Dupla ('02960929000198', '25078209000107') apareceu 7 vezes
Dupla ('25276511000161', '27055754000103') apareceu 7 vezes
Dupla ('06224118000180', '07607937000179') apareceu 7 vezes
Dupla ('04521201000195', '07913196000154') apareceu 7 vezes
Dupla ('02960929000198', '33132484000181') apareceu 7 vezes
Dupla ('33132484000181', '12190146000126') apareceu 7 vezes
Dupla ('07467238000170', '31561213000116') apareceu 7 vezes
Dupla ('33132484000181', '27055754000103') apareceu 7 vezes
Dupla ('22150251000195', '63509194000175') apareceu 7 vezes
Dupla ('27390755000104', '02412944000100') apareceu 7 vezes
Dupla ('07467238000170', '04521201000195') apareceu 7 vezes
Dupla ('12190146000126', '06224118000180') apareceu 7 vezes
Dupla ('33132484000181', '04521201000195') apareceu 7 vezes
Dupla ('33132484000181', '06224118000180') apareceu 7 vezes
Dupla ('02960929000198', '03936360000198') apareceu 7 vezes
Dupla ('22829583000109', '02412944000100') apareceu 7 vezes
Dupla ('00300339000103', '06224118000180') apareceu 7 vezes
Dupla ('06224118000180', '00625176000139') apareceu 7 vezes
Dupla ('07607937000179', '02960929000198') apareceu 7 vezes
Dupla ('25078209000107', '12190146000126') apareceu 7 vezes
Dupla ('12187423000141', '07607937000179') apareceu 7 vezes
Dupla ('03936360000198', '27055754000103') apareceu 7 vezes
Dupla ('23670372000120', '27380162000159') apareceu 7 vezes
Dupla ('17690855000194', '22975820000131') apareceu 7 vezes
Dupla ('22975820000131', '24526759000170') apareceu 7 vezes
Dupla ('10453927000130', '24526759000170') apareceu 7 vezes
Dupla ('10453927000130', '21725552000137') apareceu 7 vezes
Dupla ('17302916000107', '17690855000194') apareceu 7 vezes
Dupla ('10453927000130', '26542791000175') apareceu 7 vezes
Dupla ('24526759000170', '26542791000175') apareceu 7 vezes
Dupla ('24526759000170', '21725552000137') apareceu 7 vezes
Dupla ('18568718000144', '17323084000105') apareceu 7 vezes
Dupla ('17323084000105', '03050436000183') apareceu 7 vezes
Dupla ('17787461000159', '17323084000105') apareceu 7 vezes
Dupla ('27055754000103', '35139286000175') apareceu 7 vezes
Dupla ('07293068000155', '06224118000180') apareceu 7 vezes
Dupla ('07607937000179', '12187423000141') apareceu 7 vezes
Dupla ('35139286000175', '06224118000180') apareceu 7 vezes
Dupla ('03936360000198', '08106583000141') apareceu 7 vezes
Dupla ('00255269000119', '06224118000180') apareceu 7 vezes
Dupla ('02412944000100', '07607937000179') apareceu 7 vezes
Dupla ('03936360000198', '19988502000109') apareceu 6 vezes
Dupla ('03936360000198', '23522790000170') apareceu 6 vezes
Dupla ('10659927000191', '06224118000180') apareceu 6 vezes
Dupla ('02449563000197', '04521201000195') apareceu 6 vezes
Dupla ('27055754000103', '22829583000109') apareceu 6 vezes
Dupla ('02960929000198', '22829583000109') apareceu 6 vezes
Dupla ('27390755000104', '00625176000139') apareceu 6 vezes
Dupla ('00300339000103', '09168400000185') apareceu 6 vezes
Dupla ('09168400000185', '27390755000104') apareceu 6 vezes
Dupla ('12187423000141', '34963306000165') apareceu 6 vezes
Dupla ('63509194000175', '07137727000164') apareceu 6 vezes
Dupla ('12187423000141', '63336572000166') apareceu 6 vezes
Dupla ('07137727000164', '27055754000103') apareceu 6 vezes
Dupla ('27055754000103', '04603664000104') apareceu 6 vezes
Dupla ('07467238000170', '06224118000180') apareceu 6 vezes
Dupla ('12187423000141', '02449563000197') apareceu 6 vezes
Dupla ('04521201000195', '02449563000197') apareceu 6 vezes
Dupla ('06224118000180', '12190146000126') apareceu 6 vezes
Dupla ('25078209000107', '02960929000198') apareceu 6 vezes
Dupla ('27390755000104', '33132484000181') apareceu 6 vezes
Dupla ('25078209000107', '07467238000170') apareceu 6 vezes
Dupla ('07467238000170', '09168400000185') apareceu 6 vezes
Dupla ('00300339000103', '04521201000195') apareceu 6 vezes
Dupla ('04521201000195', '17955705000165') apareceu 6 vezes
Dupla ('04521201000195', '19329492000191') apareceu 6 vezes
Dupla ('04603664000104', '04521201000195') apareceu 6 vezes
Dupla ('04603664000104', '06224118000180') apareceu 6 vezes
Dupla ('04521201000195', '29750013000160') apareceu 6 vezes
Dupla ('06224118000180', '23522790000170') apareceu 6 vezes
Dupla ('19783564000176', '03936360000198') apareceu 6 vezes
Dupla ('04521201000195', '22555169000140') apareceu 6 vezes
Dupla ('27055754000103', '07467238000170') apareceu 6 vezes
Dupla ('27055754000103', '01676548000119') apareceu 6 vezes
Dupla ('03936360000198', '41506072000192') apareceu 6 vezes
Dupla ('03936360000198', '07607937000179') apareceu 6 vezes
Dupla ('04521201000195', '35139286000175') apareceu 6 vezes
Dupla ('63509194000175', '24608247000153') apareceu 6 vezes
Dupla ('34966820000154', '04521201000195') apareceu 6 vezes
Dupla ('27055754000103', '07293068000155') apareceu 6 vezes
Dupla ('07607937000179', '07293068000155') apareceu 6 vezes
Dupla ('07607937000179', '25078209000107') apareceu 6 vezes
Dupla ('03936360000198', '19783564000176') apareceu 6 vezes
Dupla ('07913196000154', '02412944000100') apareceu 6 vezes
Dupla ('33132484000181', '07293068000155') apareceu 6 vezes
Dupla ('07467238000170', '12190146000126') apareceu 6 vezes
Dupla ('12190146000126', '03936360000198') apareceu 6 vezes
Dupla ('22150251000195', '07467238000170') apareceu 6 vezes
Dupla ('06224118000180', '18568718000144') apareceu 6 vezes
Dupla ('19988502000109', '12187423000141') apareceu 6 vezes
Dupla ('27055754000103', '00625176000139') apareceu 6 vezes
Dupla ('00394772000155', '19783564000176') apareceu 6 vezes
Dupla ('02449563000197', '06224118000180') apareceu 6 vezes
Dupla ('00394772000155', '27055754000103') apareceu 6 vezes
Dupla ('04521201000195', '00300339000103') apareceu 6 vezes
Dupla ('07137727000164', '10816518000151') apareceu 6 vezes
Dupla ('63509194000175', '10816518000151') apareceu 6 vezes
Dupla ('08106583000141', '12187423000141') apareceu 6 vezes
Dupla ('33132484000181', '02960929000198') apareceu 6 vezes
Dupla ('33132484000181', '12187423000141') apareceu 6 vezes
Dupla ('33132484000181', '07467238000170') apareceu 6 vezes
Dupla ('25276511000161', '19783564000176') apareceu 6 vezes
Dupla ('17955705000165', '12187423000141') apareceu 6 vezes
Dupla ('22239797000117', '19783564000176') apareceu 6 vezes
Dupla ('20994835000111', '23670372000120') apareceu 6 vezes
Dupla ('23349782000174', '28395623000120') apareceu 6 vezes
Dupla ('28395623000120', '16888680000161') apareceu 6 vezes
Dupla ('27519301000182', '23670372000120') apareceu 6 vezes
Dupla ('27380162000159', '20994835000111') apareceu 6 vezes
Dupla ('17690855000194', '24526759000170') apareceu 6 vezes
Dupla ('23670372000120', '21725552000137') apareceu 6 vezes
Dupla ('21725552000137', '26542791000175') apareceu 6 vezes
Dupla ('04603664000104', '14507488000152') apareceu 6 vezes
Dupla ('16888680000161', '28395623000120') apareceu 6 vezes
Dupla ('28395623000120', '17252075000162') apareceu 6 vezes
Dupla ('22975820000131', '17302916000107') apareceu 6 vezes
Dupla ('17302916000107', '21725552000137') apareceu 6 vezes
Dupla ('10453927000130', '22975820000131') apareceu 6 vezes
Dupla ('17323084000105', '24400713000100') apareceu 6 vezes
Dupla ('24400713000100', '17323084000105') apareceu 6 vezes
Dupla ('03050436000183', '17323084000105') apareceu 6 vezes
Dupla ('10525283000149', '17323084000105') apareceu 6 vezes
Dupla ('07607937000179', '02412944000100') apareceu 6 vezes
Dupla ('02960929000198', '07293068000155') apareceu 6 vezes